/* Import de Tailwind CSS via Vite */
@import "tailwindcss";

/**
 *  Variables CSS globales d茅finies dans :root
 * Utilis茅es pour normaliser les tailles et espacements dic么nes
 * dans les composants `Icone` (Historique et Status).
 */
:root {
    /* Historique */
    --icon-size-historique: 3rem; /* Taille des ic么nes dans la section Historique */
    --icon-spacing-x-historique: 1.5rem; /* Marge horizontale entre ic么nes */
    --icon-spacing-y-historique: 1rem;   /* Marge verticale entre ic么nes */

    /* Status */
    --icon-size-status: 2rem;           /* Taille plus petite pour les ic么nes dans Status */
    --icon-spacing-x-status: 1rem;
    --icon-spacing-y-status: 0.5rem;
}
