@import "tailwindcss";

:root {
    --icon-size: 4rem; /* Taille des icônes */
    --icon-spacing-x: 4rem; /* Espacement horizontal entre les icônes */
    --icon-spacing-y: 1rem; /* Espacement vertical entre les icônes */
}