@import "tailwindcss";

:root {
    --icon-size-historique: 3rem; /* Taille des icônes pour Historique*/
    --icon-spacing-x-historique: 1.5rem; /* Espacement horizontal entre les icônes pour Historique*/
    --icon-spacing-y-historique: 1rem; /* Espacement vertical entre les icônes pour Historique */

    --icon-size-status: 2rem; /* Taille des icônes pour Status*/
    --icon-spacing-x-status: 1rem; /* Espacement horizontal entre les icônes pour Status*/
    --icon-spacing-y-status: 0.5rem; /* Espacement vertical entre les icônes pour Status */
}